<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all-desks</title>
</head>
<body>

<h2>Створити стіл</h2>
<div th:if="${currentUserRole == 'ROLE_WAITER'}">
    <form action="/api/v1/apps/new-desk" method="post">
        <input type="number" id="numberOfSeats" name="numberOfSeats" required>
        <input type="hidden" id="institution.id" name="institution.id" th:value="${institutionId}">
        <button type="submit">Створити стіл</button>
    </form>
</div>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div th:if="${desks != null}">
    <table>
        <thead>
        <tr>
            <th>deskId</th>
            <th>institutionId</th>
            <th>number_of_seats</th>
            <th>status</th>
            <th>dateOfReserve</th>
            <th>reserve</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="desk : ${desks}">
            <td th:text="${desk.id}"></td>
            <td th:text="${desk.institutionId}"></td>
            <td th:text="${desk.numberOfSeats}"></td>
            <td th:text="${desk.status}"></td>
            <td th:text="${desk.dateOfReserve}"></td>
            <td>
                <a th:href="'/api/v1/apps/desk/' + ${desk.id}">Перейти</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>