<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all-institutions</title>
    <link rel="stylesheet" th:href="@{/css/institutions.css}" type="text/css" >
</head>
<body>
    <div th:if="${currentUserRole} == 'ROLE_WAITER'">
        <a th:href="'/api/v1/apps/unfinished/orders'" class="link-back">Все заказы</a>
    </div>
<a th:href="'/api/v1/apps/user-orders/' + ${currentUser}" class="link-back">Мои заказы</a>
<a th:href="'/api/v1/apps/institution/' + ${currentUser}" class="link-back">Мій заклад</a>
<div class="institutions-container" th:if="${institutions != null}">
    <h2>Все заведения</h2>
    <div class="institutions-grid">
        <!-- Цикл по каждому заведению -->
        <div class="institution-card" th:each="institution : ${institutions}">
            <h3 th:text="${institution.title}"></h3>
            <p th:text="${institution.description}"></p>
            <div class="institution-info">
                <span>⭐ <span th:text="${institution.numberOfStars}">4.5</span></span>
                <span>Часы работы: <span th:text="${institution.timeOpen}">10:00</span> - <span th:text="${institution.timeClose}">22:00</span></span>
            </div>
            <div class="institution-links">
                <a th:href="'/api/v1/apps/desks/' + ${institution.id}">Перейти</a>
                <a th:href="'/api/v1/apps/add/' + ${institution.id}">Отзывы</a>
                <a th:href="'/api/v1/apps/menu/' + ${institution.id}">Меню</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>