<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user-order</title>
    <link rel="stylesheet" th:href="@{/css/user-orders.css}" type="text/css" >
</head>
<body>
<h2>Мои заказы</h2>

<div class="orders-container" th:if="${orders != null}">
    <div class="orders-grid">
        <!-- Карточка для каждого заказа -->
        <div class="order-card" th:each="order : ${orders}">
            <h3>Заказ №<span th:text="${order.id}"></span></h3>
            <p><strong>Статус:</strong> <span th:text="${order.status}"></span></p>
            <p><strong>Пожелания:</strong> <span th:text="${order.wishes}">Нет</span></p>
        </div>
    </div>
</div>
</body>
</html>