<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all-workers</title>
</head>
<body>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div>
    <h2>Зареєструвати працівника</h2>
    <form action="/api/v1/apps/sign-up-worker" method="post">
        <div>
            <label for="lastName">Прізвище:</label>
            <input type="text" name="lastName" id="lastName" required />
        </div>
        <div>
            <label for="firstName">Ім'я:</label>
            <input type="text" name="firstName" id="firstName" required />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required />
        </div>
        <div>
            <label for="phone">Телефон:</label>
            <input type="text" name="phone" id="phone" required />
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" required />
        </div>
        <div th:if="${currentUserRole} == 'ROLE_ADMIN'">
            <label for="roleId2">Роль:</label>
            <select id="roleId2" name="role.id">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:if="${role.id == 1 OR role.id == 2}"></option>
            </select>
        </div>
        <input type="hidden" name="role.id" value=5 th:if="${currentUserRole} == 'ROLE_OWNER'">
        <input type="hidden" name="institutionId" th:value="${institutionId}">
        <button type="submit">Зареєструвати</button>
    </form>
</div>
<br><br>

<div th:if="${users != null}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>phone</th>
            <th>role_id</th>
            <th>ChangeRole</th>
        </tr>
        </thead>
        <tbody>
        <!-- Цикл по каждому заказу из модели -->
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.role.id}"></td>
            <td>
                <form action="/api/v1/apps/update/role" method="post">
                    <input type="hidden" name="workerId" th:value="${user.id}">
                    <input type="hidden" name="institutionId" th:value="${institutionId}">
                    <input type="number" id="roleId" name="roleId" placeholder="Новое значение" required>
                    <button type="submit">Обновить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>